<div>
<b>nombre: <%= name(@user) %></b> <br/>
<b>apellido: <%= surname(@user) %></b><br/>
<b>cedula: <%= cc(@user) %></b><br/>
<b>telefono: <%= telefono(@user) %></b><br/>
<b>rol: <%= rol(@user) %></b><br/>
<b>correo: <%= correo(@user) %></b><br/>
<b>nombre de usuario: <%= username(@user) %></b>
</div>