<div class="jumbotron">
<h2>bienvenido a flashtiket</h2>
<p class="lead">admin.</p>
<li><%= link "crear planilla", to: planilla_path(@conn, :new) %></li>
<li><%= link "buscar planillas", to: filtro_path(@conn, :filtro) %></li>
<li><%= link "buscar usuarios", to: user_path(@conn, :index) %></li>
</ol>
</div>
